body {
  font-family: "Raleway Webfont";
}

.no-scroll {
  overflow: hidden;
}

 .text-left {
   text-align: left;
 }

.text-center {
  text-align: center;
}

 .text-right {
   text-align: right;
 }

.text-bold {
  font-weight: bold;
}

.text-extra-bold {
  font-weight: 900;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.btn {
  color: #4b4b48;
  background: none;
  border: 1px solid #4b4b48;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 8px;
  min-width: 180px;
  text-align: center;
}

BODY {
  padding-top: 131px;
}

HEADER {
  display: block;
  width: 100%;
  height: 130px;
  background-color: #0d406a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

HEADER .wrapper {
  width: 72%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

HEADER .wrapper .logo {
  height: 100%;
  top: 0;
  position: absolute;
}

HEADER .wrapper .logo IMG {
  height: 100%;
}

HEADER .wrapper .our-lawyers {
  position: absolute;
  right: 130px;
  width: 200px;
  height: 28px;
  border: 1px solid #ffffff;
  top: 49px;
}

HEADER .wrapper .our-lawyers A {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 6px;
  font: bold 16px/16px 'Open Sans Condensed';
}

HEADER .wrapper .burger-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 109px;
  height: 109px;
  border: none;
  cursor: pointer;
  transition: all .3s ease .3s;
  z-index: 2;
}



HEADER .wrapper .menu-holder {
  background-color: rgba(13, 64, 106, 0.95);
  padding: 40px 40px 40px 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 120px);
  height: calc(100% - 80px);
  color: #ffffff;
  overflow: auto;
  display: none;
}

HEADER .wrapper .menu-holder .category-title {
  color: #d47f02;
  font: bold 16px/16px 'Open Sans Condensed';
  text-transform: uppercase;
}

HEADER .wrapper .menu-holder .submenu {
  margin-bottom: 30px;
}

HEADER .wrapper .menu-holder .submenu LI {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  line-height: 30px;
}

HEADER .wrapper .menu-holder .submenu LI:after {
  content: '|';
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  font-weight: bold;
  font-size: 14px;
}

HEADER .wrapper .menu-holder .submenu LI:last-child:after {
  content: '';
}

HEADER .wrapper .menu-holder .submenu LI A {
  color: inherit;
  font-family: 'Glegoo';
  text-decoration: none;
  font-size: 14px;
}

HEADER .wrapper .menu-holder .submenu LI A:hover {
  color: #d47f02;
}


HEADER .wrapper .burger-menu #menu-switcher,
HEADER .wrapper .burger-menu #menu-opener {
  display: none;
}

HEADER .wrapper .burger-menu NAV.nav-holder {
  position: fixed;
  height: 100%;
  left: 100%;
  top: 0;
  color: #fff;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 130px 0 0;
  z-index: -1;
}

HEADER .wrapper .burger-menu NAV.nav-holder .nav-inner {
  background: #15558b;
  height: 100%;
  overflow-y: auto;
}

HEADER .wrapper .burger-menu NAV.nav-holder .nav-inner .menu A {
  color: #ffffff;
  font-family: 'Open Sans Condensed';
  font-size: 26px;
  text-decoration: none;
  display: block;
  width: calc(100% - 25px);
  height: 100%;
  padding: 15px 0 15px 25px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

HEADER .wrapper .burger-menu NAV.nav-holder .nav-inner .menu A:hover {
  background-color: #0d406a;
}

HEADER .wrapper .burger-menu LABEL {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

HEADER .wrapper .burger-menu LABEL SPAN {
  display: block;
  position: absolute;
  top: 52px;
  left: 28px;
  right: 28px;
  height: 4px;
  background: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

HEADER .wrapper .burger-menu LABEL SPAN::after,
HEADER .wrapper .burger-menu LABEL SPAN::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

HEADER .wrapper .burger-menu LABEL SPAN::before {
  top: -10px;
}

HEADER .wrapper .burger-menu LABEL SPAN::after {
  bottom: -10px;
}

HEADER .wrapper .burger-menu #menu-switcher:checked + LABEL SPAN,
HEADER .wrapper .burger-menu #menu-opener:checked + LABEL SPAN {
  background: 0 0;
}

HEADER .wrapper .burger-menu #menu-switcher:checked + LABEL,
HEADER .wrapper .burger-menu #menu-opener:checked + LABEL {
  background-color: #15558b;
}

HEADER .wrapper .burger-menu #menu-switcher:checked + LABEL SPAN:before,
HEADER .wrapper .burger-menu #menu-opener:checked + LABEL SPAN:before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #fff;
}

HEADER .wrapper .burger-menu #menu-switcher:checked + LABEL SPAN:after,
HEADER .wrapper .burger-menu #menu-opener:checked + LABEL SPAN:after {
  bottom: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: #fff;
}

.breadcumbs {
  position: fixed;
  top: 130px;
  background-color: #15558b;
  z-index: 9;
  left: 14%;
  transition: all .3s ease;
}

.breadcumbs .breadcumb {
  display: inline-block;
  position: relative;
  padding: 8px 11px;
  color: #ffffff;
  font: bold 14px/14px 'Open Sans Condensed';
}

.breadcumbs .breadcumb.active,
.breadcumbs .breadcumb A:hover {
  color: #d47f02;
}

.breadcumbs .breadcumb:first-child:before {
  content: '';
}

.breadcumbs .breadcumb:before {
  position: absolute;
  content: '|';
  padding-right: 20px;
  left: -1px;
  display: block;
  width: 2px;
  top: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

.breadcumbs .breadcumb A {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* Homepage */
/*.home-slider .swiper-container .swiper-slide {
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}*/

.home-slider.rainer-dietmann .swiper-container {
  width: 80%;
  margin-top: 80px;
}

.home-slider .swiper-container LI.swiper-slide {
  height: 600px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.home-slider .swiper-container .swiper-slide IMG {
  max-width: 100%;
  width: 100%;
}

.home-slider .swiper-container .swiper-slide .slogan {
  position: absolute;
  color: #4b4b48;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  font-size: 24px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;

  /* Remove after typo3 integration */
  /*left: auto;
  right: 8%;
  transform: translate(0%, -50%);*/
}

.home-slider .swiper-container .swiper-slide .slogan:empty {
  display: none;
}

.home-slider .swiper-container .swiper-slide .slogan.right {
  transform: translateY(-50%);
  left: auto;
  right: 5%;
}

.home-slider .swiper-container .swiper-slide .slogan.left {
  transform: translate(0, -50%);
  left: 5%;
  right: auto;
}

.home-slider .swiper-container .swiper-slide .slogan.top {
  top: 16%;
  bottom: auto;
}

.home-slider .swiper-container .swiper-slide .slogan.bottom {
  top: auto;
  bottom: 2%;
}

.categories {
  width: 75%;
  margin: 10% auto 6%;
}

.categories .category {
  width: 23%;
  padding-top: 23%;
  margin: 0 0.9% 1.7%;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  display: block;
}

.categories .category.empty {
  background-color: #0d406a;
  display: none;
}

.categories .category:hover .description {
  bottom: -50%;
}

.categories .category .description {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 0;
  height: 50%;
  background-color: rgba(5, 60, 106, 0.5);
  font-family: 'Glegoo';
  line-height: 26px;
  transition: all 0.3s ease-out;
  padding: 0 5px;
  font-size: 15px;
}

.categories .category .description H1 {
  margin: 44px 0 14px;
  width: calc(100% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categories .category IMG {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Homepage */


/* Lawyer page */
.content-wrapper {
  width: 72%;
  font-family: 'Glegoo';
  color: #4f4f4f;
  margin: 0 auto;
}

.accordion-wrapper {
  background-color: #eceff2;
  min-height: 20px;
  padding: 10px 0;
}

/* Sitebar */
.sitebar {
  width: 255px;
  margin-left: 14%;
}

.sitebar .contacts-wrapper {
  width: 150px;
  border: 1px solid #4f4f4f;
  padding: 30px 50px 30px 20px;
  margin-top: 235px;
  font-family: 'Glegoo';
  color: #4f4f4f;
}

.sitebar IMG {
  width: 90%;
  margin-top: 170px;
}

.sitebar .contacts-wrapper IMG {
  border: none;
  margin-top: 0;
  vertical-align: middle;
  width: 16px;
}

.sitebar .wrapper {
  margin-right: 30px;
}

.sitebar .contacts-wrapper UL {
  margin-top: 20px;
}

.sitebar .contacts-wrapper UL LI {
  font-size: 12px;
  letter-spacing: -0.5px;
  padding: 5px 0;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 3px center;
  padding-left: 32px;
}

.sitebar .contacts-wrapper UL LI:nth-child(2),
.sitebar .contacts-wrapper UL LI:nth-child(3){
  background-size: 18px;
  background-position: 1px center;
}

.sitebar BLOCKQUOTE {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  width: 200px;
  line-height: 26px;
  margin-top: 50px;
}
/* Sitebar */


.content-wrapper .content {
  width: 100%;
}

.content-wrapper .content .btn-list {
  padding-top: 40px;
}

/*.sitebar + .content-wrapper .content {*/
.content-wrapper .content {
  width: calc(100% - 255px);
}

.accordion-wrapper .content .accordion-item .accordion-title {
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: 25px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}

.accordion-wrapper .content .accordion-item .accordion-title:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url('../img/arrow-accordion.png') no-repeat left center;
  background-size: 20px;
  position: absolute;
  transition: all .5s ease;
}

.accordion-wrapper .content .accordion-item .accordion-title.no-arrow:before {
  display: none;
}

.accordion-wrapper .content .accordion-item .accordion-title.no-arrow {
  text-indent: 0;
}

.accordion-wrapper .content .accordion-item .accordion-title.no-arrow + .accordion-content LI {
  padding-left: 14px;
}

.accordion-wrapper .content .accordion-item .accordion-title.no-arrow + .accordion-content LI:before {
  left: -7px;
}

.accordion-wrapper.opened {
  margin-bottom: 1px;
}

.accordion-wrapper.opened + .accordion-wrapper {
    padding-top: 40px;
}

.accordion-wrapper .accordion-title.default-open + .accordion-content {
  display: block !important;
}

.accordion-wrapper.opened .content .accordion-item .accordion-title:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.accordion-wrapper .content .accordion-item .accordion-content {
  display: none;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 43px;
  font-size: 21px;
  text-align: left;
}

.accordion-wrapper .content .accordion-item .accordion-content LI {
  padding-left: 40px;
  position: relative;
}

.accordion-wrapper .content .accordion-item .accordion-content LI:before {
  position: absolute;
  left: 18px;
  content: '·';
  display: block;
  width: 25px;
  text-align: center;
}

.content-wrapper .content .page-title {
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  font-size: 40px;
  padding-top: 100px;
}

.content-wrapper .content .page-descr {
  font-family: 'Open Sans Condensed';
  font-size: 28px;
  padding-top: 14px;
}

.content-wrapper .content .page-title:empty,
.content-wrapper .content .page-descr:empty {
  display: none;
}

.content-wrapper .content .page-content {
  font-size: 21px;
  line-height: 40px;
  padding-top: 40px;
  text-align: left;
}

.content-wrapper .content .page-content .lawyers-list .lawyer {
  color: #ffffff;
  width: 165px;
  height: 165px;
  padding: 0;
  margin: 0 12px 12px 0;
  vertical-align: top;
  float: left;
}

.content-wrapper .content .page-content .lawyers-list.text-center .lawyer {
  display: inline-block;
  float: none;
  margin: 0 12px 12px -5px;
}

.content-wrapper .content .page-content .lawyers-list .lawyer A {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.content-wrapper .content .page-content .lawyers-list .lawyer A IMG {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.content-wrapper .content .page-content .lawyers-list .lawyer A:hover SPAN.lawyer-name {
  top: 100%;
}

.content-wrapper .content .page-content .lawyers-list .lawyer A SPAN.lawyer-name {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 90%;
  height: 50%;
  padding: 50% 5% 0 5%;
  z-index: 1;
  color: #ffffff;
  background-color: rgba(5, 60, 106, 0.5);
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  transition: all 0.3s ease-out;
}

.btn-list A {
  text-decoration: none;
  text-transform: uppercase;
  font: bold 16px/16px 'Open Sans Condensed';
  margin-right: 40px;
}

.btn-list A:last-child {
  margin-right: 0;
}

.btn-list A:hover {
  color: #d47f02;
}
/* Lawyer page */


FOOTER {
  display: block;
  width: 100%;
  background-color: #0d406a;
  margin-top: 100px;
}

FOOTER .contacts {
  padding: 30px;
}

FOOTER P {
  font-family: 'Glegoo';
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
}

.color-magenda {
  color: #ff00ff;
}

.title {
  font-family: 'Open Sans Condensed';
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.title-large {
  font-size: 32px;
}

.title-medium {
  font-size: 24px;
}

.title-small {
  font-size: 21px;
}

.with-arrow {
  position: relative;
  text-indent: 25px;
}

.with-arrow::before {
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/arrow.png);
  background-position: center center;
  content: '';
  width: 16px;
  display: block;
  position: absolute;
  height: 16px;
  top: -1px;
}

FOOTER H2 {
  padding-bottom: 8px;
}

FOOTER .columns {
  display: inline-block;
}

FOOTER .columns .column {
  margin: 0 50px;
  text-align: left;
}

FOOTER .copyright {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #ffffff;
  margin-top: 30px;
}

FOOTER .copyright P {
  font-weight: 100;
  font-size: 12px;
}

FOOTER .title-large {
  font-size: 24px;
}

FOOTER .title-medium {
  font-size: 20px;
}

FOOTER .title-small {
  font-size: 16px;
}


@media only screen and (min-width: 1024px) and (max-width: 1679px) {
  BODY {
    padding-top: 101px;
  }
  HEADER {
    height: 100px;
  }
  HEADER .wrapper .burger-menu {
    top: 5px;
    width: 89px;
    height: 89px;
  }
  HEADER .wrapper .burger-menu LABEL SPAN {
    top: 43px;
    left: 23px;
    right: 23px;
  }
  HEADER .wrapper .burger-menu NAV.nav-holder {
    padding: 100px 0 0;
  }
  HEADER .wrapper .our-lawyers {
    top: 35px;
  }
  .breadcumbs {
    top: 100px;
  }
  .home-slider .swiper-container LI.swiper-slide {
    height: 520px;
  }
  .content-wrapper .content .page-content {
    font-size: 18px;
  }
  .categories {
    width: 90%;
  }
  .categories .category .description H1 {
    margin: 10% 0 14px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .sitebar {
    margin-left: 5%;
  }
  .categories .category {
    width: 31%;
    padding-top: 31%;
  }
  .categories .category.empty:nth-child(3n) {
    display: block;
  }
  .content-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  BODY {
    padding-top: 91px;
  }
  HEADER {
    height: 90px;
  }
  HEADER .wrapper {
    width: 100%;
  }
  HEADER .wrapper .logo {
    left: 24px;
  }
  HEADER .wrapper .burger-menu {
    top: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
  }
  HEADER .wrapper .burger-menu LABEL SPAN {
    top: 38px;
    left: 20px;
    right: 20px;
  }
  HEADER .wrapper .our-lawyers {
    top: 30px;
  }
  HEADER .wrapper .burger-menu NAV.nav-holder {
    padding: 90px 0 0;
  }
  .sitebar {
    margin-left: 5%;
  }
  .content-wrapper {
    width: 90%;
  }
  .breadcumbs {
    top: 90px;
    left: 0;
  }
  .btn-list A {
    min-width: 160px;
    margin-right: 0;
  }
  .home-slider .swiper-container LI.swiper-slide {
    height: 450px;
  }
  .categories .category {
    width: 48%;
    padding-top: 48%;
  }
  FOOTER P {
    font-size: 14px;
  }
  FOOTER .columns .column {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  BODY {
    padding-top: 81px;
  }
  HEADER {
    height: 80px;
  }
  HEADER .wrapper {
    width: 100%;
  }
  HEADER .wrapper .logo {
    left: 14px;
    height: 63px;
    top: 8px;
  }
  HEADER .wrapper .burger-menu {
    top: 5px;
    right: 5px;
    width: 70px;
    height: 70px;
  }
  HEADER .wrapper .our-lawyers {
    width: auto;
    padding: 0 6px;
    top: 26px;
    right: 80px;
  }
  HEADER .wrapper .our-lawyers A {
    font-size: 12px;
  }
  HEADER .wrapper .burger-menu LABEL SPAN {
    top: 33px;
    left: 14px;
    right: 14px;
  }
  HEADER .wrapper .burger-menu NAV.nav-holder {
    padding: 80px 0 0;
  }
  HEADER .wrapper .menu-holder {
    padding: 20px 20px 40px 20px;
    right: 0;
    left: auto;
    top: 80px;
  }
  HEADER .wrapper .menu-holder .submenu {
    padding-left: 20px;
  }
  HEADER .wrapper .menu-holder .submenu LI {
    display: block;
  }
  HEADER .wrapper .menu-holder .submenu LI:after {
    content: '';
  }
  .breadcumbs {
    top: 80px;
    left: 0;
    display: none;
  }
  .btn-list A {
      display: block;
      margin: 8px auto !important;
      width: calc(100% - 20px);
  }
  .categories .category {
    width: 100%;
    padding-top: 100%;
  }
  .home-slider .swiper-container LI.swiper-slide {
    height: 200px;
    margin-bottom: 35px;
  }
  .home-slider.rainer-dietmann .swiper-container {
    width: 100%;
    margin-top: 0px;
  }
  .home-slider .swiper-container .swiper-slide .slogan {
    top: auto;
    transform: none;
    font-size: 16px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    width: calc(100% - 20px);
    text-align: center;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: translate(0,0) !important;
  }
  .content-wrapper {
    width: 88%;
  }
  .sitebar {
    display: none;
  }
  .content-wrapper .content {
    width: 100% !important;
    float: none;
  }
  .content-wrapper .content .page-content {
    font-size: 14px;
    line-height: 25px;
  }
  .content-wrapper .content .page-title {
    padding-top: 20px;
    font-size: 24px;
  }
  .lawyers .content-wrapper .content .page-title {
    text-align: center;
  }
  .content-wrapper .content .page-content {
    padding-top: 20px;
  }
  .content-wrapper .content .page-content .lawyers-list {
    text-align: center;
  }
  .content-wrapper .content .page-content .lawyers-list .lawyer {
    display: inline-block;
    float: none;
  }
  .accordion-wrapper .content {
    width: 100%;
  }
  .accordion-wrapper .content .accordion-item .accordion-content {
    line-height: 30px;
    font-size: 14px;
  }
  .with-arrow {
    text-indent: 0px;
  }
  .with-arrow::before {
    display: inline-block;
    position: static;
    vertical-align: middle;
  }
  .categories .category .description H1 {
    margin-top: 25px;
  }
  FOOTER .columns .column {
    float: none;
    text-align: center;
    padding-bottom: 30px;
  }
  FOOTER P.separator {
    display: none;
  }
}
